div .svg-container {
    margin: 5px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
#local {
    height: 200px;
}

.reset {
    position: absolute;
    background: url(../graph-alghoritm/demo/reset.png);
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}
g.commit.unreachable > circle {
    stroke-dasharray: 5 5;
}
g.commit.unreachable > path {
    stroke-dasharray: 5 5;
    stroke: #DDDDDD;
}

circle.commit {
    fill: #CCFFCC !important;
    stroke: #339900;
}
.link {
    stroke: #999;
    stroke-opacity: 1.2;
    fill: none;
}

text.commitId {
    text-anchor:middle;
}